/* .question-box {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.question-box label {
  display: block;
  margin-bottom: 5px;
}

.upload-button {
  background-color: #4caf50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.upload-button:hover {
  background-color: #45a049;  
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.upload-button:active {
  background-color: #3e8e41;  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
