/* Style for the entire About component */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the image */
.about-image {
  width: 40%; /* Adjust the width of the image */
  max-width: 350px; /* Adjust the max-width as needed */
  margin-top: 20px;
}

/* Style for the paragraph containers */
.about-paragraphs {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the gap between image and paragraphs */
}

/* Style for each individual paragraph container */
.about-paragraph {
  width: 50%; /* Adjust the width of the paragraph container */
  max-width: 400px; /* Adjust the max-width as needed */
  background-color: #f0f0f0; /* Light background color */
  border-radius: 8px;
  padding: 20px;
  margin-right: 20px; /* Adjust the gap between left and right containers */
}

/* Style for the headings within the left containers */
.about-heading {
  color: #333; /* Dark text color */
}

/* Style for the text within the right containers */
.about-text {
  color: #666; /* Bright text color */
}
