.contact {
    position: fixed;
    bottom:20vh; /* Adjust the distance from the bottom as needed */
    left: 50%;
    width: 80%; /* Adjust the width as needed */
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgba(255, 123, 0, 0.5); /* Adjust the color and opacity as needed */
    border: 1px solid #cccccc;

    backdrop-filter: blur(5px); /* Add a blur effect */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
    transform: translateX(-50%);
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    max-width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
