/* home.css */

.header {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("D:\MSWD\SDPPROJECT\frontendapp\demolms\src\main\images\background.png"); */
  height: 100vh;
  margin-top: -1px;
  font-size: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 8%;
  position: relative;
  resize: none;
}

/* home.css */

.explore-button {
  position: absolute;
  top: -80px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
}

.explore-button button {
  background-color:blue;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px; /* Adjust border-radius for a pill shape */
}

.explore-button button:hover {
  background-color:blue;
}


.header-content {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 50px;
}

.header-content h3 {
  font-size: 50px;
  line-height: -10px;
  font-weight: 400;
  margin-top: -350px;
  max-width: 500px;
  color: burlywood;
}

.header-content h6 {
  font-weight: 400;
  font-size: 30px;
  margin-top: -25px;
  color: burlywood;
}

.header-content p {
  font-weight: 50px;
  font-size: 20px;
  margin-top: -45px;
  color: red;
}

.email-signup {
  background: #fff;
  border: 10px;
  display: inline-flex;
  align-items: center;
  margin-top: -120px;
  overflow: hidden;
}

.email-signup input {
  flex: 2px;
  border: 0;
  outline: 0;
  margin-left: 35px;
}

.email-signup button {
  background: chocolate;
  border: 15px;
  outline: 15px;
  color: #fff;
  font-size: -90px;
  cursor: pointer;
  padding: 15px 25px;
}

.sources {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row {
  display: flex;
  width: 80%;
  align-items: center;
  flex-wrap: wrap;
  padding: -20px 0;
}

.text-col {
  flex-basis: 40%;
  margin-bottom: 200vh;
}

.text-col h3 {
  position: absolute;
  bottom: -30vh;
  left: 180px;
  font-weight: 500;
  font-size: large;
  color: black;
}

.text-col p {
  position: absolute;
  bottom: -45vh;
  left: 150px;
  font-weight: 500;
  font-size: large;
  color: black;
}

.img-col {
  position: relative;
  flex-basis: 48%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.img-col img {
  position: absolute;
  bottom: -55vh;
  left: 80vh;
  width: 50vh;
}

.sources1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row1 {
  display: flex;
  width: 50%;
  align-items: center;
  flex-wrap: wrap;
  padding: -20px 0;
}

.text1-col {
  flex-basis: 42%;
  margin-bottom: 200vh;
}

.text1-col h3 {
  position: absolute;
  bottom: -75vh;
  right: 580px;
  font-weight: 800;
  font-size: large;
  color: black;
}

.text1-col p {
  position: absolute;
  bottom: -90vh;
  left: 750px;
  font-weight: 500;
  font-size: large;
  color: black;
}

.img1-col {
  position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.img1-col img {
  position: absolute;
  bottom: 100vh;
  right: -25vh;
  width: 80vh;
}

.sources2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row2 {
  display: flex;
  width: 90%;
  align-items: center;
  flex-wrap: wrap;
  padding: -10px 0;
}

.text2-col {
  flex-basis: 42%;
  margin-bottom: 200vh;
}

.text2-col h3 {
  position: absolute;
  bottom: -145vh;
  left: 30vh;
  font-weight: 100;
  color: black;
}

.text2-col p {
  position: absolute;
  bottom: -155vh;
  left: 30vh;
  font-weight: 400;
  font-size: xx-large;
  color: black;
}

.img2-col {
  position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.img2-col img {
  position: absolute;
  bottom: 230vh;
  right: -35vh;
  width: 60vh;
}

