body {
  height: 100vh;
  justify-content: center;
  background-color: rgba(6, 10, 123, 0.344);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 420px; /* Adjust this value based on your design */
  padding: 100px;
}

.login {
  width: 420px;
  background: transparent;
  border: 3px solid rgba(200, 200, 200, 0.362);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 10px;
  padding: 10px 40px;
}

.login h1 {
  font-size: 36px;
  text-align: center;
  color: red;
}

.login .input-box {
  position: relative;
  padding-left: 20px;
  width: 100%;
  height: 60px;
  top: -10px;
  border-radius: 10px;
  margin: 40px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: black;
  text-align: center;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 40px; /* Adjust this value to position the icons lower or higher */
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
}

.login .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: -20px 0 18px;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: lightgray;
}

.login button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 150;
}

.login button:hover {
  background: mediumaquamarine;
}
