/* Table styles */
table {
  border-collapse: collapse;
  width: 70%; /* Adjust width as needed */
  margin: 0 auto; /* Center the table horizontally */
}

th,
td {
  border: 3px solid #090909;
  padding: 8px;
  text-align: middle; /* Align content to the left */
}

th {
  background-color: #a5d9e8; /* Light gray background for headers */
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #c5df65; /* Alternate row colors for better readability */
}
